body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 15px;
    width: 250px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin-top: 0;
    color: #555;
}

.poster {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.graph {
    text-align: center;
    margin-bottom: 30px;
}

.graph img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
